
.col-sm-6{
    width: 60%;
    margin: auto;
    margin-top:2% ;
    border-radius: 4%;
    margin-left: 60%;

}
.col-sm-6 .search{
    margin-top: 4%;
    border-radius: 7%;
    margin-left: 20%;
    margin-bottom: 4%;
}