<!-- <div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <h1>Welcome to Gitclone</h1>
           
            <a class="btn btn-outline-secondary" id="username" routerLink="/form">Enter your Username</a>
            <br>
            <a class="btn btn-outline-secondary" id="results" routerLink="/results">See the results</a>
            <br>
            <router-outlet></router-outlet>
           
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-form></app-form>
    
        </div>
    
    
        <div class="col-md-6">
            <app-results></app-results>
       
        </div>
    </div>
    
</div>
