.navbar-default {
  background-color: black;
  padding: 2%;
  margin-bottom: 2%;

}

.navbar-default a {
  color: white;
  float: right;
  margin-right: 60px;
  font-size: 1.5rem;
  text-decoration: none;
 

}

.logo {
  color: white;
}
